body {
    background: url("../images/background90s.jpg");
    padding-top: 20px;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#hangman-logo {
    padding: 5px;    
}

.container {
    text-align: center;
    
}

h1, h2, h3,
h4, h5, h6 {
    padding: 5px;
    background-color: rgba(53, 13, 13, 0.479);
    color: rgb(56, 211, 211);
}

#hangman-logo,
#youwin-image,
#gameover-image {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

#currentWord {
    letter-spacing: 10px;
}

/* Hide image display */
#try-again,
#youwin-image,
#gameover-image {
    display: none;
}

.gameplay-column {
    padding-top: 20px;
    border: 3px dashed white;
    text-align: center;
    background-color: rgba(3, 51, 3, 0.39);
    color: rgb(228, 205, 205);
    
}